body {
  background-color: #dddd81;
}
button {
  background-color: rgb(231, 76, 76);
  color: white;
  border: 4px solid blue;
  height: 40px;
  margin: 5px;
}
button:hover {
  background-color: rgb(18, 83, 114);
  color: white;
  border: 4px solid white;
  height: 28px;
}
